.app {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.todo-list {
    display: flex;
    width: 600px;
    min-height: 400px;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    border: 2px rgba(0, 0, 0, 0.6) solid;
    border-radius: 10px;
    gap: 10px;
}

.hint {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}

.todo-list input {
    width: 300px;
}

.todo-list button {
    width: 100px;
    margin-bottom: 50px;
}

.todo-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
}

.todo-card-delete {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}